body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

#controls {
	position: fixed;
	right: 0;
	top:0;
	height: 100%;
	background-color: rgba(255,255,255,.6);
}

.input {
	padding: 20px;
}
.input input {
	padding: 5px;
	opacity: .6;
}

.input input:focus {
	opacity: 1;
}